@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 10px;
}

.product-container {
    width: 900px;
}

.product {
    margin: 10px;
}

.kurly-Only{
    background-color: #4a5a7a;
    width: 30%;
    border-radius: 10px;
    color: blueviolet;

}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-counter {
    text-align: left;
}

.sort {
    text-align: right;
    /*margin-left: auto;*/
    margin-right:10px
}
.sort a {
    text-decoration: none;
    color: inherit;
}

.list-container{
    display: flex;
}

img {
    width: 100%;
    height: 320px;
    border-radius:10px;
}

.product-image {
    overflow:hidden;
    position: relative;
}

.overlay-wrap {
    overflow: hidden;
    position:relative;
}

.cart-button {
    text-align: center;
}

.cart-button .btn {
    font-size: 16px;
    width: 100%;
    height: 25px;
    border: none;
}
.delivery-option {
    font-size: 14px;
}

.product-title {
    height:50px
}

.product-description {
    font-size: 12px;
}

.product-price {
    font-size: 15px;
    text-decoration: line-through;
}

.product-price-info {
    display: flex;
}

.product-discount {
    color: red;
    font-weight: bold;
}

.product-real-price {
    font-weight: bold;
    margin-left: 10px;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 15px;
}

.overlay_text {
    position:absolute;
    top:15px;
    left:15px;
    font-size:13px;
    color: white;
    font-weight: bold;
    background-color: mediumpurple;
}

.overlay_bottom {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 15px;
}

.overlay_bottom .overlay_text {
    position:absolute;
    top:270px;
    /*left:15px;*/
    font-size:16px;
    color: white;
    font-weight: bold;
    background-color: cadetblue;
    border-radius: 80%;
    /*width: 30px;*/
    text-align: center;
}

.product-row{
    display: inline-block;
}

.pringles {
    opacity: 0;
}

.btn {
    cursor: pointer;
}